# /bin/kafka-topics --create --topic notifications --bootstrap-server localhost:9091 - создание топика
# /bin/kafka-consumer-groups --bootstrap-server localhost:9091 --group my-group --reset-offsets --to-earliest --execute --topic notifications - создание группы
version: "3.9"
services:
  postgres:
    image: postgres
    environment:
      POSTGRES_PASSWORD: "12345"
      POSTGRES_USER: "kopilka"
      POSTGRES_DB: "kopilka"
      PGDATA: "/var/lib/postgresql/data/pgdata"
    ports:
      - "5432:5432"
    volumes: 
      - ./db/migrations/:/docker-entrypoint-initdb.d
      - ../.:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U kopilka -d kopilka"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: always
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 4G
  redis:
    image: redis:latest
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - /path/to/local/data:/root/redis
      - /path/to/local/redis.conf:/usr/local/etc/redis/redis.conf
    environment:
      - REDIS_PASSWORD=12345
      - REDIS_PORT=6379
      - REDIS_DATABASES=16
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    ports:
      - "2181:2181"
      - "2888:2888"
      - "3888:3888"
    networks:
      - net
    healthcheck:
      test: echo stat | nc localhost 2181
      interval: 10s
      timeout: 10s
      retries: 3
    environment:
      - ZOOKEEPER_SERVER_ID=1
      - ZOOKEEPER_CLIENT_PORT=2181
      - ZOOKEEPER_TICK_TIME=2000
      - ZOOKEEPER_INIT_LIMIT=5
      - ZOOKEEPER_SYNC_LIMIT=3
      - ZOOKEEPER_SERVERS=zookeeper:2888:3888
  kafka1:
    image: confluentinc/cp-kafka:latest
    healthcheck:
      test: ps augwwx | egrep [S]upportedKafka
    depends_on:
      - zookeeper
    ports:
      - "9091:9091"
    networks:
      - net
    environment:
      - KAFKA_LISTENERS=LISTENER_INT://kafka1:29091,LISTENER_EXT://0.0.0.0:9091
      - KAFKA_ADVERTISED_LISTENERS=LISTENER_INT://kafka1:29091,LISTENER_EXT://localhost:9091
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=LISTENER_INT:PLAINTEXT,LISTENER_EXT:PLAINTEXT
      - KAFKA_INTER_BROKER_LISTENER_NAME=LISTENER_INT
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_BROKER_ID=1
      - ZOOKEEPER=zookeeper:2181

  redpandadata-console:
    image: redpandadata/console:latest
    ports:
      - "8080:8080"
    environment:
      - KAFKA_BROKERS=kafka1:29091,kafka2:29092,kafka2:29093
    depends_on:
      - kafka1
      # - kafka2
      # - kafka3
  
  # kafka2:
  #   image: confluentinc/cp-kafka:latest
  #   healthcheck:
  #     test: ps augwwx | egrep [S]upportedKafka
  #   depends_on:
  #     - zookeeper
  #   ports:
  #     - "9092:9092"
  #   environment:
  #     - KAFKA_LISTENERS=LISTENER_INT://kafka2:29092,LISTENER_EXT://0.0.0.0:9092
  #     - KAFKA_ADVERTISED_LISTENERS=LISTENER_INT://kafka2:29092,LISTENER_EXT://localhost:9092
  #     - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=LISTENER_INT:PLAINTEXT,LISTENER_EXT:PLAINTEXT
  #     - KAFKA_INTER_BROKER_LISTENER_NAME=LISTENER_INT
  #     - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
  #     - KAFKA_BROKER_ID=2
  #     - ZOOKEEPER=zookeeper:2181
  # kafka3:
  #   image: confluentinc/cp-kafka:latest
  #   healthcheck:
  #     test: ps augwwx | egrep [S]upportedKafka
  #   depends_on:
  #     - zookeeper
  #   ports:
  #     - "9093:9093"
  #   environment:
  #     - KAFKA_LISTENERS=LISTENER_INT://kafka3:29093,LISTENER_EXT://0.0.0.0:9093
  #     - KAFKA_ADVERTISED_LISTENERS=LISTENER_INT://kafka3:29093,LISTENER_EXT://localhost:9093
  #     - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=LISTENER_INT:PLAINTEXT,LISTENER_EXT:PLAINTEXT
  #     - KAFKA_INTER_BROKER_LISTENER_NAME=LISTENER_INT
  #     - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
  #     - KAFKA_BROKER_ID=3
  #     - ZOOKEEPER=zookeeper:2181
  #   command: 
  #     - bash -c "/bin/kafka-topics --create --zookeeper zookeeper-1 --replication-factor 2 --partitions 3 --topic notifications"

  # init-kafka:
  #   image: confluentinc/cp-kafka:latest
  #   depends_on:
  #     - kafka1
  #     - kafka2
  #     - kafka3
  #   entrypoint: [ '/bin/sh', '-c' ]
  #   command: >
  #     bash -c "
  #     # blocks until kafka is reachable
  #     kafka-topics --bootstrap-server kafka:29092 --list

  #     echo -e 'Creating kafka topics'
  #     kafka-topics --bootstrap-server kafka:29092 --create --if-not-exists --topic notifications --replication-factor 2 --partitions 3

  #     echo -e 'Successfully created the following topics:'
  #     kafka-topics --bootstrap-server kafka:29092 --list
  #     "
networks:
  net:
    driver: bridge
