name: Docker Build

on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Login to DockerHub Registry
        run: echo Antihyp3. | docker login -u m0rdovorot --password-stdin
      - name: Build Docker API image
        run: docker build -t m0rdovorot/kopilka.api:${GITHUB_SHA::8} -f API.Dockerfile .
      - name: Build Docker auth image
        run: docker build -t m0rdovorot/kopilka.auth:${GITHUB_SHA::8} -f auth.Dockerfile .
      - name: Build Docker posts image
        run: docker build -t m0rdovorot/kopilka.posts:${GITHUB_SHA::8} -f posts.Dockerfile .
      - name: Build Docker pay image
        run: docker build -t m0rdovorot/kopilka.pay:${GITHUB_SHA::8} -f pay.Dockerfile .

      - name: Push API image
        run: docker push m0rdovorot/kopilka.api:${GITHUB_SHA::8}
      - name: Push auth image
        run: docker build -t m0rdovorot/kopilka.auth:${GITHUB_SHA::8}
      - name: Push posts image
        run: docker build -t m0rdovorot/kopilka.posts:${GITHUB_SHA::8}
      - name: Push pay image
        run: docker build -t m0rdovorot/kopilka.pay:${GITHUB_SHA::8}

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: pull docker image
        uses: appleboy/ssh-action@master
        with:
          envs: GITHUB_SHA
          host: 212.233.89.163
          username: ubuntu
          key: ${{ secrets.PRIVATE_KEY }}
          script: sudo docker pull m0rdovorot/kopilka.api:${GITHUB_SHA::8}
      - name: deploy docker image
        uses: appleboy/ssh-action@master
        with:
          envs: GITHUB_SHA
          host: 212.233.89.163
          username: ubuntu
          key: ${{ secrets.PRIVATE_KEY }}
          script: sudo docker run -e VERSION=${GITHUB_SHA::8} -d -p 8001:8001 m0rdovorot/kopilka.api:${GITHUB_SHA::8}